In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [108]:
df = pd.read_csv('data/green_tripdata_2019-09_new.csv')

/tmp/ipykernel_74275/1918967359.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/green_tripdata_2019-09_new.csv')

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449063 entries, 0 to 449062
Data columns (total 20 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               389920 non-null  float64
 1   lpep_pickup_datetime   449063 non-null  object
 2   lpep_dropoff_datetime  449063 non-null  object
 3   store_and_fwd_flag     389920 non-null  object
 4   RatecodeID             389920 non-null  float64
 5   PULocationID           449063 non-null  int64
 6   DOLocationID           449063 non-null  int64
 7   passenger_count        389920 non-null  float64
 8   trip_distance          449063 non-null  float64
 9   fare_amount            449063 non-null  float64
 10  extra                  449063 non-null  float64
 11  mta_tax                449063 non-null  float64
 12  tip_amount             449063 non-null  float64
 13  tolls_amount           449063 non-null  float64
 14  ehail_fee              0 non-null       float64
 15  improvement_surcharge  449063 non-null  float64
 16  total_amount           449063 non-null  float64
 17  payment_type           389920 non-null  float64
 18  trip_type              389920 non-null  float64
 19  congestion_surcharge   389920 non-null  float64
dtypes: float64(15), int64(2), object(3)
memory usage: 68.5+ MB

In [110]:
pd.to_datetime(df['lpep_pickup_datetime']).max()

Timestamp('2020-03-07 09:24:23')

In [58]:
taxi_zone_df = pd.read_csv('data/taxi+_zone_lookup.csv')
taxi_zone_df = taxi_zone_df.reset_index(drop=True)
taxi_zone_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [45]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [48]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_trips,root,None,False,False,False,False

In [111]:
df.to_sql('tgt_green_taxi_trips',engine,if_exists = 'append')

63

In [60]:
taxi_zone_df.to_sql('lkp_taxi_zone',engine,if_exists = 'append')

265