In [15]:
import pandas as pd
from sqlalchemy import create_engine

In [16]:
df = pd.read_csv('data/green_tripdata_2019-09.csv')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79678 entries, 0 to 79677
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               79678 non-null  int64
 1   lpep_pickup_datetime   79678 non-null  object
 2   lpep_dropoff_datetime  79678 non-null  object
 3   store_and_fwd_flag     79678 non-null  object
 4   RatecodeID             79678 non-null  int64
 5   PULocationID           79678 non-null  int64
 6   DOLocationID           79678 non-null  int64
 7   passenger_count        79678 non-null  int64
 8   trip_distance          79677 non-null  float64
 9   fare_amount            79677 non-null  float64
 10  extra                  79677 non-null  float64
 11  mta_tax                79677 non-null  float64
 12  tip_amount             79677 non-null  float64
 13  tolls_amount           79677 non-null  float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  79677 non-null  float64
 16  total_amount           79677 non-null  float64
 17  payment_type           79677 non-null  float64
 18  trip_type              79677 non-null  float64
 19  congestion_surcharge   79677 non-null  float64
dtypes: float64(12), int64(5), object(3)
memory usage: 12.2+ MB

In [17]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [58]:
taxi_zone_df = pd.read_csv('data/taxi+_zone_lookup.csv')
#taxi_zone_df = taxi_zone_df.reset_index(drop=True)
taxi_zone_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [45]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [48]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_trips,root,None,False,False,False,False

In [49]:
df.to_sql('tgt_green_taxi_trips',engine,if_exists = 'append')

678

In [60]:
taxi_zone_df.to_sql('lkp_taxi_zone',engine,if_exists = 'append')

265